@media (min-width: 1280px) {

  body {
    font-size: 20px;
  }

  header {
    img {
      height: 60px;
    }

    h1 {
      line-height: 60px;
    }
  }

  footer {
    .social-item img {
      width: 50px;
    }

    p {
      :first-child {
        width: 16px;
      }

      img {
        width: 14px;
      }
    }
  }

  header,
  ul {
    max-width: 1200px;
  }
}
