@media (min-width: 1680px) {

  body {
    font-size: 23px;
  }

  header,
  ul {
    max-width: 1400px;
  }

  footer {
    p {
      :first-child {
        width: 18px;
      }

      img {
        width: 16px;
      }
    }
  }
}
