@media (min-width: 736px) {
  header {
    p {
      font-size: 40px;
    }
  }

  .portfolio {
    li {
      margin: 10px;
    }
  }

  footer {
    ul {
      margin: 0 auto;
      padding: 40px 0;
    }
  }
}
