footer
  ul
    li.grow.social-item
      a(href='#')
        i.im.im-github
    li.grow.social-item
      a(href='#')
        i.im.im-mail
    li.grow.social-item
      a(href='#')
        i.im.im-linkedin
    li.grow.social-item
      a(href='#')
        i.im.im-twitter

  p #[i.im.im-code.madeby-icons] with #[i.im.im-heart.madeby-icons] by Jacob Boykin
