footer
  ul
    li.grow.social-item
      a(href='https://github.com/jacobboykin')
        img(src='img/github.svg' alt='github icon')
    li.grow.social-item
      a(href='mailto:hello@jacobboykin.com')
        img(src='img/email.svg' alt='email icon')
    li.grow.social-item
      a(href='https://www.linkedin.com/in/jacobboykin')
        img(src='img/linkedin.svg' alt='linkedin icon')
    li.grow.social-item
      a(href='https://twitter.com/JBoykinMusic')
        img(src='img/twitter.svg' alt='twitter icon')

  p #[i.im.im-code.madeby-icons] with #[i.im.im-heart.madeby-icons] by Jacob Boykin
