header
  img(src='img/logo.svg' alt='logo')
  h1 Jacob Boykin

  p My name is Jacob Boykin. I'm a full stack web developer and
    |  #[a(href='https://youtube.com/boykinmusic') musician] from
    | Satellite Beach, Florida.
