head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(
    name='description'
    content="My name is Jacob Boykin. I'm a full stack web developer and musician based in Melbourne, Florida."
  )
  title Jacob Boykin
  link(rel='shortcut icon' type='image/x-icon' href='https://jacobboykin.com/favicon.ico')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900')
  link(rel='stylesheet' href='css/style.css')
