header
  img(src='img/logo.png' alt='logo')
  h1 >_ jacob boykin
  p My name is Jacob Boykin. I'm a full stack web developer and
    |  #[a(href='https://youtube.com/boykinmusic') musician] based in
    | Melbourne, Florida.
