.portfolio
  ul
    li.grow
      a(href='#')
        img(src='img/wikipedia.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/local-weather.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/random-quote.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
