.portfolio
  ul
    li.grow
      a(href='https://jacobboykin.com/wikipedia-viewer')
        img(src='img/wikipedia.png' alt='wikipedia viewer')
    li.grow
      a(href='https://jacobboykin.com/local-weather-app')
        img(src='img/local-weather.png' alt='local weather app')
    li.grow
      a(href='https://jacobboykin.com/random-quote-generator')
        img(src='img/random-quote.png' alt='random quote generator')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
    li.grow
      a(href='#')
        img(src='img/500x500.png' alt='placeholder')
