ul.portfolio
  li Twitch.tv Viewer
    a(href='#') demo
    a(href='#') source
  li Wikipedia Viewer
    a(href='#') demo
    a(href='#') source
  li Local Weather
    a(href='#') demo
    a(href='#') source
  li Random Quotes
    a(href='#') demo
    a(href='#') source
  li Placeholder
    a(href='#') demo
    a(href='#') source
  li Placeholder
    a(href='#') demo
    a(href='#') source
  li Placeholder
    a(href='#') demo
    a(href='#') source
  li Placeholder
    a(href='#') demo
    a(href='#') source
  li Placeholder
    a(href='#') demo
    a(href='#') source
