.portfolio
  a(href='#') Twitch.tv Viewer
    p Uses the Twitch.tv API to display info on users' status.
  a(href='#') Wikipedia Viewer
  a(href='#') Local Weather
  a(href='#') Random Quotes
  a(href='#') Placeholder
  a(href='#') Placeholder
  a(href='#') Placeholder
  a(href='#') Placeholder
  a(href='#') Placeholder
