.portfolio
  a.twitch.grow(href='#') Twitch.tv Viewer
    p Uses the Twitch.tv API to display info on users' status.
  a.wikipedia.grow(href='#') Wikipedia Viewer
  a.local-weather.grow(href='#') Local Weather
  a.random-quote.grow(href='#') Random Quotes
  a.placeholder.grow(href='#') Placeholder
  a.placeholder.grow(href='#') Placeholder
  a.placeholder.grow(href='#') Placeholder
  a.placeholder.grow(href='#') Placeholder
  a.placeholder.grow(href='#') Placeholder
