doctype html
html
  include regions/head.pug

  body
    include regions/menu.pug
    include regions/header.pug
    include regions/portfolio.pug
    include regions/contact.pug

    footer
      p this is the footer
