doctype html
html(lang='en')
  include regions/head.pug

  body
    include regions/header.pug
    include regions/portfolio.pug
    include regions/contact.pug

    footer
      p Coded with love by jacob boykin
