doctype html
html(lang='en')
  include regions/head.pug

  body
    include regions/header.pug
    include regions/portfolio.pug
    include regions/footer.pug

    script(type='text/javascript' src='js/main.js')
