footer {
  text-align: center;

  ul {
    margin: 0;
    padding: 30px 0;
    max-width: 736px;
  }

  li {
    margin: 0 5px;
    width: 20%;
    display: inline-block;
  }

  .social-item i {
    color: $dark-gray;
    font-size: 30px;
  }

  p {
    background: $blue;
    color: $white;
    margin: 0;
    padding: 20px 0;
  }

  .madeby-icons {
    font-size: inherit;
    vertical-align: middle;
    margin: 0 3px;
  }
}
