footer {
  text-align: center;

  background-image: url('/img/background.png');
  background-position: 0 0;
  background-repeat: repeat;
  animation: animatedBackground 100s linear infinite;

  ul {
    margin: 0;
    padding: 30px 0;
    max-width: 736px;
  }

  li {
    margin: 0 5px;
    width: 20%;
    display: inline-block;
  }

  .social-item img {
    width: 30px;
  }

  p {
    background: $blue;
    color: $white;
    margin: 0;
    padding: 20px 0;

    :first-child {
      width: 14px;
    }

    img {
      width: 12px;
      margin: 0 3px;
    }
  }
}
