header {
  position: absolute;
  top: 50px;
  left: 20px;
  background: $white;
  width: 100%;
  height: 50px;

  img {
    height: 32px;
    margin: .67em 0;
    color: $blue;
    float: left;
    animation: rotating 3s linear infinite;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1em;
    font-weight: 900;
    line-height: 32px;
    margin: .67em 0 2.5em .8em;
    float: left;
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  z-index: 999;
}

p {

  font-size: 2em;
  padding: 132px 20px 0 20px;
  clear: both;

  a {
    text-decoration: none;
    color: $purple;
    border-bottom: 1px dotted $purple;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
