header {
  padding: 50px 20px 10px 20px;

  img {
    float: left;
    margin: 11px 0;
    height: 32px;
    animation: rotating 3s linear infinite;
  }

  h1 {
    float: left;
    margin: 11px 0 40px 13px;
    font-size: inherit;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  p {
    clear: both;
    font-size: 32px;

    a {
      color: $purple;
      text-decoration: none;
      border-bottom: 1px dotted $purple;
    }
  }
}
